[[source]]
url = 'https://pypi.org/simple'
verify_ssl = true
name = 'pypi'

[packages]
attrs = "*"
ddtrace = "*"
fastapi = '*'
ratelimit = "*"
requests = "*"
secure = "*"
uvicorn ="*"

[dev-packages]
black = "==22.8.0"
flake8 = '*'
ipython = '*'
isort = '*'
pytest = "*"
pytest-cov = "*"

[requires]
python_version = '3.9'
